.active{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: #081b29;
    margin: 20px;
    
  }
  .nav-link{
    margin: 15px;
    text-decoration: none;
    font-size: large;
}