*{
  /* background-color: #081b29;
  color: white; */
  
  
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  /* background-color: #081b29; */
  color: black;
}
.carouser-flyer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.header-img{
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.first-img{
  height: 500px;
}
.quotes{
  text-align: center;
  margin: 25px;
}
footer{
  background-color: #081b29;
  color: white;
}
.form-input{
  width: 300px;
  height: 35px;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);

}
.reg-main-div{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 20px;
  border-radius: 15px;
  align-items: center;
}
.reg-main-div img{
  max-width: 100%;
}



.chef-details {
  margin: 20px 0 10px;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chef-details img {
  border-radius: 10px;
  width: 300px;
  margin-bottom: 20px;
}
.all-chefs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.recipie-sections{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  
}
.chef-details-main{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  background-color: #081b2917;
  color: black;
  margin-bottom: 30px;
}
.chef-details-main h1{
  font-weight: bold;
}
.chef-details-main img{
  border-radius: 15px;
}
.recipe-details{
  color: black;
  display: flex;
  flex-direction: column;
  align-items:start;
  /* justify-content: space-between; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}
.recipe-details img{
  margin: 0 auto;
  margin-bottom: 20px;
}




@media (max-width: 576px) {
  .all-chefs {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
  }
  .chef-details {
    margin: 30px 0;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .chef-details {
  }
}
/* #081b29 */